<% provide(:title, 'All Users') %>
<% provide(:button_text, '編集する') %>
<% if params[:search].blank? %>
  <h1>全てのユーザー覧</h1>
<% else %>
  <h1>検索結果</h1>
<% end %>

<div class=" col-md-10 col-md-offset-8">

<b>ユーザー名検索</b>

    <%= form_with url: users_path, method: :get, local: true do |f| %> <!--検索結果を表示したいurlの指定します-->
    <%= f.text_field :search %> <!--検索するワードを searchという架空のカラムに格納される-->
    <%= f.submit "検索",name: nil , class: "btn btn-primary" %>
  <% end %>
</div>

<%= form_with url: import_users_path do |form| %>
  <%= form.file_field :file, accept: 'text/csv' %>
  <%= form.submit "CSVインポート", class: "btn btn-primary" %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <% @users.each do |user| %>
        <div class="user-name"><%= user.name %></div>
              <%= link_to "削除", user, method: :delete,data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>

            <div class="panel panel-default">
              <div class="panel-heading button-edit">
                <button class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#collapse-<%= user.id %>">編集</button>
　　　　　　　</div>
                    <div class="collapse panel-body" id="collapse-<%= user.id%>">
                      <%= form_with(model: user, local: true) do |f| %>
                        <%= render 'shared/error_messages', object: user %>
                        <%= f.label :name, class: "label-#{yield(:class_text)}" %>
                        <p><%= user.name %></p>
                        <%= f.label :email, class: "label-#{yield(:class_text)}" %>
                        <%= f.text_field :email, class: "form-control" %>
                        <%= f.label :department, class: "label-#{yield(:class_text)}" %>
                        <%= f.text_field :department, class: "form-control" %>
                        <%= f.label :employeenumber, class: "label-#{yield(:class_text)}" %>
                        <%= f.text_field :employeenumber, class: "form-control" %>
                        <%= f.label :cardID, class: "label-#{yield(:class_text)}" %>
                        <%= f.text_field :cardID, class: "form-control" %>
                        <%= f.label :password, class: "label-#{yield(:class_text)}" %>
                        <%= f.text_field :password, class: "form-control" %>
                        <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
                        <%= f.text_field :password_confirmation, class: "form-control" %>
                        <%= f.label :basic_time, class: "label-#{yield(:class_text)}" %>
                        <%= f.time_field :basic_time, class: "form-control" %>
                        <%= f.label :指定勤務開始時間, class: "label-#{yield(:class_text)}" %>
                        <%= f.time_field :started_at, class: "form-control" %>
                        <%= f.label :指定勤務終了時間, class: "label-#{yield(:class_text)}" %>
                        <%= f.time_field :finished_at, class: "form-control" %>
                        <div class="center">
                          <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}"%>
                          <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                            キャンセル
                          </button>
                        </div>
                      <% end %>
                    </div>
            </div>
    <% end %>
  <%= will_paginate %>
</div>