<!-- _edit_overtime_application_req.html.erb -->
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
<%= form_with(model: @attendance, url: attendances_update_overtime_application_req_user_path(@user), method: :patch, local: true) do |f| %>
      
          <h1 class= "modal-title">【勤怠残業申請】</h1>
            
            <table class= "table table-bordered table-striped">
             <thead>
              <tr>
                <th> 日付 </th>
                <th> 曜日 </th>
                <th> 終了予定時間 </th>
                <th> 翌日 </th>
                <th> 業務処理内容 </th>
                <th> 指示者確認㊞ </th>
              </tr>
             </thead>
             <tbody>
              <tr>
                <td><%= l(@date, format: :short) %></td>
                <%= f.hidden_field :date, :value => (@date) %>
                <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                <td><%= f.time_field :overtime, required: true, class: "form-contcol modal-time" %></td>
                <td><%= f.check_box :approval, class: "form-contcol" %></td>
                <td><%= f.text_field :overtime_content, class: "form-contcol modal-note" %></td>
                <td><%= f.collection_select :overtime_instructor, @superiors, :name, :name, {include_blank: ""},{required: true, class: "form-control"} %></td>
              </tr>
             </tbody>
            </table>
          
        
      <%= f.submit "変更を送信する", class: "btn btn-primary btn-lg btn-block" %>
          
      <% end %>
       </div>
     </div>
   </div>
  </div>
</div>