<!-- _show_overtime_modal.html.erb -->
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="center">
        <%= form_with(model: @attendance, url: attendances_update_overtime_modal_user_path(@user), method: :patch, local: true) do |f| %>
         <% @applicants.each do |applicant| %>
          <h3 class="modal-title">【<%= applicant.name %>からの残業申請】</h3>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>指定勤務終了時間</th>
                <th>時間外時間</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤務を確認する</th>
              </tr>
            </thead>
            <tbody>
                <% applicant.attendances.where(status: "申請中", overtime_instructor: @user.name).each do |attendance| %>
                  <tr>
                    <td><%= l(attendance.worked_on.to_date, format: :short) %></td>
                    <td><%= $days_of_the_week[attendance.worked_on.wday] %></td>
                    <td><%= format_basic_info(attendance.overtime) %></td>
                    <td><%= format_basic_info(applicant.designated_work_end_time) %></td>
                    <td><%= format("%.2f", calc_overtime(attendance.overtime, applicant.designated_work_end_time)) %></td>
                    <td><%= attendance.overtime_content %></td>
                    <td><%= f.select :status, [["なし", "なし"],["申請中", "申請中"], ["承認", "承認"], ["否認", "否認"]], { include_blank: "" }, { required: true, class: "show_overtime_modal" } %></td>
                    <td><%= f.check_box :approval, class: "show_overtime_modal" %></td>
                    <td><%= link_to "確認", show_attendances_status_req_user_path(applicant.id), class: "btn btn-primary btn-sm" %></td>
                  </tr>
                <% end %>
            </tbody>
          </table>
          <% end %>
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>